@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSans_Condensed-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSans_Condensed-Light.ttf");
    font-weight: 400;
}
:root {
    --black: var(--black);
    --semiblack: var(--semiblack);
    --light: var(--light);
}
@keyframes slide-20 { to { transform: translateY(-2px); } }
* { font-family: "Open Sans Condensed"; user-select: none; }
.navbar-brand span, .nav-link { font-family: "Open Sans"; }
h1, h2, h3, h4, h5, h6, span, p { cursor: text; }
a span { cursor: pointer; }
img { pointer-events: none;  }
nav {
    backdrop-filter: blur(5px);
    ul li [href="#"] { 
        color: var(--black); 
        letter-spacing: 2px; 
        font-family: "Open Sans";
        transition: color .3s;
        &:hover { color: #0EB4C1; }
    }
    .btn {
        @media (width < 992px) { width: 100%; } 
    }
}
.btn { letter-spacing: 2px; }
p { font-family: "Open Sans"; }
h3, h5 { color: var(--black); }
section {
    position: relative;
    #particles-js { z-index: -1; }
    &.hero, &.contact { background-color: #0EB4C1; }
    .col-lg-5 { margin-top: 120px; }
    &.services { margin-block: 120px; p { color: var(--light); } .d-flex { margin-top: 80px; } }
        &.contact {
            padding-block: 64px;
            .col-xxl-4 {
                margin-top: 40px;
                .btn {
                    transition: background .3s;
                    span { transition: color .3s; }
                    &:hover { background-color: #fff; span { color: #0EB4C1; } }
                    @media (width < 576px) {
                        width: min(188.81px, 100%);
                        &:last-child {
                            width: min(209.78px, 100%);
                        }
                    }
                }
            }
        }
}
footer {
    background-color: #222;
    .navbar-brand span { font-size: 24px; color: #fff; }
}


